
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

packages/*
.vs/*
eve/ApplicationInsights.config
eve/Properties/PublishProfiles/publish.pubxml
src/evenotify_v2/wwwroot/lib/*
src/evenotify_v2/Properties/PublishProfiles/publish.pubxml
src/evenotify_v2/Properties/PublishProfiles/publish-module.psm1
src/evenotify_v2/Properties/PublishProfiles/publish-publish.ps1
src/evenotify_v2/appsettings.json
