@{
    ViewData["Title"] = "Mail";
}
<br/>
@if (ViewBag.isValid)
{
<p class="text-info"><strong>Success!  Your email has been verified and you should start getting mails.</strong></p>
}
else
{
    <p class="text-danger"><strong>Fail!  The link is invalid or has expired, please check the link or register again.</strong></p>

}

